<!--//highlight-->
<!--//highlight-->
<div data-options="dxView : { name: 'login', title: 'Log in', modal: true } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
            <h2>Welcome</h2>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">E-mail</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox:{ value: email }"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Password</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox:{ mode: 'password', value: password }"></div>
                    </div>
                </div>
            </div>
            <div class="login-buttons">
                <div data-bind="dxButton: { text: 'Log in', onClick: logIn }"></div>
                <div data-bind="dxButton: { text: 'Cancel', onClick: close }"></div>
            </div>
        </div>
</div>
