<!--//highlight-->
<div data-options="dxView : { name: 'home', title: 'Home' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        This is a view for any device. 
    </div>
</div>

<div data-options="dxView : { name: 'home', title: 'Home', phone: true, platform: 'ios' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        This is a view for an iPhone.   
    </div>
</div>

<div data-options="dxView : { name: 'home', title: 'Home', phone: true, platform: 'android' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        This is a view for an android phone.  
    </div>
</div>
<!--//highlight-->
