body{
  text-align: center;
}
.button{
  margin: 10px;
}
.panel{
    width: 100%;
    height: 100%;
    border: solid 2px #555;
    background-color:white;
    color: #555;
    border-radius:10px;
    box-sizing:border-box;
}
.dx-theme-android .panel{
    border-color: #aaa;
    background-color:black;
    color: white;
}
.dx-theme-win10 .panel{
    border-color: #aaa;
    background-color:black;
    color: white;
}
h1{
    margin: 0 0 10px 0;
    background-color:lightgray;
    padding: 5px;
    font-size: 1.2em !important;
}
.dx-theme-android h1{
    background-color:#444;
}
.dx-theme-win10 h1{
    background-color:#444;
}
#myPopup{
    text-align: center;
    background-color: transparent !important;
}