body{
    text-align: center;
}
.list{
    margin: 10px auto;
    height: 390px;
    width: 90%;
    border: 2px solid grey;
}
.marker{
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
}
.dx-field .dx-field-label{
    width:auto;
}