<div data-options="dxView : { name: 'partialView' } " >
    <!--//highlight-->
    <h2 data-bind="text: header"></h2>
    <div style="padding: 0 15px">
        <div data-bind="visible: !subscribed()">
            <div data-bind="dxTextBox: { value: email, placeholder: 'Enter your e-mail' }"></div>
            <div data-bind="dxButton: { text: 'Subscribe', onClick: subscribe } " ></div>
        </div>
        <div data-bind="visible: subscribed">Thank you. <span data-bind="text: email"></span> is subscribed.</div>
    </div>
    <!--//highlight-->
</div>