body{
    text-align: center;
}
#button{
    margin: 10px;
}
#target {
    margin: 20px;
    padding: 20px;
    background-color: yellow;
    color: #00F;
    border: solid 2px blue;
    font-size: 1.2em;
}
.tt{
    font-size: 1.2em;
}