p{
    padding: 5px 10px;
    margin: 0;
}
.map{
    margin: 10px;
    width: auto !important;
}
.button{
    margin: 10px;
}
.content{
    text-align: justify;
}
#scrollViewContainer{
    margin: 10px;
    height: 80%;
    border: solid 2px #888;
    border-radius: 10px;
}
.dx-theme-android #scrollViewContainer{
    border-radius: 3px;
    border-color: #aaa;
}
.dx-theme-win10 #scrollViewContainer{
    border-radius: 0;
    border-color: white;
}