<div data-options="dxView : { name: 'List' } " >
    <div data-bind="dxCommand: { title: 'Back', type: 'back', id: 'back', onExecute: handleCancel, visible: !DXWorkout.hardwareBackButton }"></div>

    <div class="action-list" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="search-wrapper" data-bind="ifnot: isEdit">
            <div data-bind="dxTextBox: { placeholder: 'Search', mode: 'search', value: searchQuery, valueChangeEvent: 'keyup' } "></div>
        </div>
        <div class="new-item" data-bind="if: isEdit">
            <div data-bind="dxTextBox: { value: newValue, placeholder: emptyValue, valueChangeEvent: 'keyup' } "></div>
            <div data-bind="dxButton: { text: 'Add', onClick: handleAddClick, disabled: addButtonDisabled }"></div>
        </div>
        <div data-bind="dxList: { items: keySettings, onItemClick: handleItemClick, editEnabled: canDelete, editConfig: { deleteEnabled: true, deleteType: deleteMode }, onItemDeleted: handleDeleteClick }">

        </div>
    </div>
</div>