===========================================================================
<!--type-->Object<!--/type-->
===========================================================================

<!--shortDescription-->
A validation result.
<!--/shortDescription-->

<!--fullDescription-->

<!--/fullDescription-->