.delete-button-wrapper .delete-button {
    display: block;
}
.dx-theme-ios .delete-button-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
.dx-theme-android .delete-button-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}