<!--id-->dxValidationGroupResult<!--/id-->
===========================================================================
<!--type-->Object<!--/type-->
===========================================================================

<!--shortDescription-->
A group validation result.
<!--/shortDescription-->

<!--fullDescription-->

<!--/fullDescription-->